
{% extends 'menu.html' %}

{% block title %}
    <title>taller4</title>
{% endblock%}

{% block content %}

<div id="pregunta">

<table class="table table-striped">
            <thead>
            <tr>
                <th>Titulo</th>
                <th>Puntaje</th>
                <th>Tags</th>
                <th>Contenido de la pregunta</th>
                <th>Entidades</th>
            </tr>
            </thead>
            <tbody> 

{% for icon in consulta1 %}
<tr>
<td>{{ icon.items.0.title|safe}}</td>
<td>{{icon.items.0.score|safe}}</td>
<td>{{icon.items.0.tags|safe}}</td>
<td id="pregunta">
{{ icon.items.0.body|safe}}<br> 
Link: <a href={{icon.items.0.link|safe}}>Click Aqui para verificar la información</a> </td>
<td >
Person:{{icon.entidades.0.PERSON}}<br>
Location:{{icon.entidades.1.LOCATION.0.y0}}<br>
Date:{{icon.entidades.2.DATE}} <br>
Organization:{{icon.entidades.3.ORGANIZATION}}<br>
Money:{{icon.entidades.4.MONEY}}<br>
Time:{{icon.entidades.5.TIME}}
</td>

</tr>
{% endfor %}
</tbody>
</table>
</div>


<table class="table table-striped">
            <thead>
            <tr>
                <th>Title</th>
                <th>Puntaje</th>
                <th>Contenido de la Respuesta</th>
            </tr>
            </thead>
            <tbody> 

{% for icon2 in datta %}
<tr>
<td>{{ icon2.items.0.title|safe}}</td>
<td>{{ icon2.items.0.score|safe}}</td>
<td id="pregunta">{{ icon2.items.0.body|safe}}</td>
<td >
Person:{{icon2.entidades.0.PERSON}}<br>
Location:{{icon2.entidades.1.LOCATION.0.y0}}<br>
Date:{{icon2.entidades.2.DATE}} <br>
Organization:{{icon2.entidades.3.ORGANIZATION}}<br>
Money:{{icon2.entidades.4.MONEY}}<br>
Time:{{icon2.entidades.5.TIME}}
</td
</tr>
{% endfor %}
</tbody>
</table>

<!--ENRIQUECIMIENTO SEMANTICO DE LAS PREGUNTAS INFORMACION DE LAS PELICULAS -->


<table class="table table-striped">
            <thead>
            <tr>
                <th>Titulo</th>
                <th>Resumen</th>
                <th>Pais</th>
                <th>Director</th>
                <th>Score Imbd</th>
            </tr>
            </thead>
            <tbody> 

{% for iteracion3 in movies %}

<tr>
<td>{{iteracion3.union.Title}}</td>
<td>{{iteracion3.union.Plot}}</td>
<td>{{iteracion3.union.Country|safe}}</td>
<td >{{iteracion3.union.Director|safe}}</td>
<td >{{iteracion3.union.imdbRating|safe}}</td>
</tr>
{% endfor %}
</tbody>
</table>


<!-- TUITS PREGUNTAS-->
<table class="table table-striped">
            <thead>
            <tr>
                <th>Tuits</th>
                <th>Tuits</th>
                <th>Tuits</th>
            </tr>
            </thead>
            <tbody> 

{% for iteracion4 in tuits %}

<tr>
<td>{{iteracion4.a}}</td>
<td>{{iteracion4.e}}</td>
<td>{{iteracion4.i}}</td>
</tr>
{% endfor %}
</tbody>
</table>

<div class="col-md-12 portfolio-item">
            <hr>
            <div class="pagination">
                <span class="step-links">
                    {% if infoPage.page > 1 %}
                        <a href="?page={{ infoPage.previous_page_number }}">anterior</a>
                    {% endif %}

                    <span class="current">
                        Pág. {{ infoPage.page }} de {{ infoPage.num_pages }}.
                    </span>

                    {% if infoPage.page < infoPage.num_pages %}
                        <a href="?page={{ infoPage.next_page_number }}">siguiente</a>
                    {% endif %}
                </span>
            </div>
        </div>

    </div>

{% endblock%}