{% extends 'menu.html' %}

{% block title %}
    <title>taller3</title>
{% endblock%}

{% block content %}
<h1>mi texto es {{amigos}} </h1>

       <!--
    <img src="/static/images/underconstruction.jpg">  -->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>



    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);
      
	  function drawChart() {

		var data = new google.visualization.DataTable();
         data.addColumn('string', 'Country');
         data.addColumn('number', 'GDP');
         data.addRows([
           ['US', 16768100],
           ['China', 9181204],
           ['Japan', 4898532],
           ['Germany', 3730261],
           ['France', 2]
         ]);

		var options = { title: 'Company Performance',
		vAxis: {scaleType: 'mirrorLog' }

		};

        var chart = new google.visualization.ColumnChart(document.getElementById('barchart_material'));

 		chart.draw(data, options);
      }
    </script>


    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
        var data =  new google.visualization.DataTable()
		data.addColumn('number','usuario');
		data.addColumn('number','Sales');
		data.addColumn('number','Expenses');
		data.addColumn('number','Profit');

		data.addRows([
		[20,30,50,80],
		[1, 1000, 400, 200],
		[200, 1000, 400, 200],
		[300, 1000, 400, 200]
		]);

        var options = {
          chart: {
            title: 'Indices por Sentimientos',
          },
          bars: 'vertical' // Required for Material Bar Charts.
        };

        var chart = new google.visualization.BarChart(document.getElementById('histograma'));

        chart.draw(data, options);
      }
    </script>    

    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
        var data =  google.visualization.arrayToDataTable([
           [' 2014', 'Positivo', 'Negativo', 'PocoNegativo', 'PocoPositivo', 'Neutro'],
			['2017',100, 400, 200,500,150]

        ]);

        var options = {
          chart: {
            title: 'Porcentaje por tweets por Hashtag',

          },
          bars: 'horizontal' // Required for Material Bar Charts.
        };

        var chart = new google.visualization.BarChart(document.getElementById('Visual2'));

        chart.draw(data, options);
      }
    </script> 



    <script type="text/javascript"></script>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.1/themes/base/jquery-ui.css" />
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.10.1/jquery-ui.js"></script>
    <script src="https://d3js.org/d3.v4.min.js"></script>

    <div id="taller3">

    <div class="col-md-4">
 	   <div class="form-group">
	<form method="post">
    {% csrf_token %}
    {{ form}}



    <input type="submit" value="Submit" />
</form>		


	   </div> 
    <div id="barchart_material" style="width: 400px; height: 250px;"></div>
    </div>  

    <div class="col-md-4">
    <div class="form-group">
		<form action="numtuits" method="post">
			<label for="numtuits">Nombre del usuario de tweeter</label>
			<input id="numtuits" type="text" name="Usuario a consultar" value="{{ current_name }}">
			<input type="submit" class="btn btn-success"  value="Consultar">
		</form>
    </div>
    <div id="histograma" style="width: 400px; height: 250px;"></div>
	</div> 

    <div class="col-md-4">
    <div class="form-group">
		<form action="otro" method="post">
			<label for="otro">Nombre del usuario de tweeter</label>
			<input id="otro" type="text" name="Usuario a consultar" value="{{ current_name }}">
			<input type="submit" class="btn btn-success"  value="Consultar">
		</form>
    </div> 

    <div id="Visual2" style="width: 400px; height: 250px;"></div>
    </div>


    <script type="text/javascript">
         function cargar1(mynodes, myedges){
            // create an array with nodes
            var nodes = new vis.DataSet(mynodes);

            // create an array with edges
            var edges = new vis.DataSet(myedges);

            // create a network
            var container = document.getElementById('migrafo');
            var data = {
                nodes: nodes,
                edges: edges
            };
            var options = {};
            var network = new vis.Network(container, data, options);

        }




    </script>


    </div>

{% endblock%}
